.data-loading{
  color: #FFF;
  //position: absolute;
  //right: 55%;
  margin-top:2em;
  margin-bottom: 1em;
  font-size:3.5rem;
  z-index: 10000;
  i{
    text-align: center;
    margin:auto;
    display: block;
    margin-bottom: 15px;
  }
  p{
    font-size: 18px;
    text-align: center;
  }
}

.breadcrumb{
  background: transparent;
  a{
    &:hover{
      color: #de29a0;
      text-decoration: underline;
    }
  }
}

.breadcrumb-item.active {
  color: #FFF;
}

a:hover {
  color: #de29a0;
  text-decoration: underline;
}

@media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
}


