.data-loading {
  color: #FFF;
  //position: absolute;
  //right: 55%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 3.5rem;
  z-index: 10000;
  i {
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
}

.breadcrumb {
  background: transparent;
  a {
    &:hover {
      color: #de29a0;
      text-decoration: underline;
    }
  }
}

.breadcrumb-item.active {
  color: #FFF;
}

a:hover {
  color: #de29a0;
  text-decoration: underline;
}

.slick-arrow:before {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 28px !important;
  top: 45%;
  &:hover {
    color: #de29a0 !important;
  }
}

.slick-prev:before {
  font-family: FontAwesome !important;
  content: "\f0d9" !important;
}

.slick-next:before {
  font-family: FontAwesome !important;
  content: "\f0da" !important;
}

.slick-dots li button {
  width: 9px !important;
  height: 9px !important;
  padding: 5px !important;
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 50% !important;
}

.slick-dots{
  .slick-active{
    button{
      background: rgba(255, 8, 255, 0.59) !important;
    }
  }
}

@media (max-width: 575.98px) {

  .slick-arrow:before {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 28px !important;
    top: 45%;
    &:hover {
      color: #de29a0 !important;
    }
  }

  .slick-prev {
    left: -15px !important;
    &:before {
      font-family: FontAwesome !important;
      content: "\f0d9" !important;
    }
  }

  .slick-next {
    right: -15px !important;
    &:before {
      font-family: FontAwesome !important;
      content: "\f0da" !important;
    }
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}



