#home-page-container{
  h3{
    color:#FFF;
  }
  .first-heading{
    font-weight: 200;
    right: 25%;
    font-size: 40px;
    a{
      color: #FFF;
    }
  }
  .second-heading{
    font-weight: 900;
    font-size: 45px;
  }
}