/* Variables */

/* Colors */
$primary-color: purple;
$pink-color: rgb(239, 58, 177);
$purple-color: #3E1967;
$white-color: #FFF;

/* Fonts */
$secondary-font: 'Muli', sans-serif;

body {

  .no-padding {
    padding: 0px;
  }
  background: $primary-color;
  //background-image: url(../img/bg.jpg);
  background: #000;
  color: red;
  background-position: center;
  input, select, textarea {
    background-color: rgba(255, 255, 255, 0.85) !important;
    border-radius: 0 !important;
    border: 0px solid #FFF !important;
  }
  a {
    color: $pink-color;
  }
  .user-left-menu {
    .list-group-flush:last-child .list-group-item:last-child {
      border-bottom: 1px solid #333;
      border-radius: 0 !important;
      i {
        padding-right: 5px;
      }
    }
  }
}

.content {
  padding: 20px;
  h1 {
    color: $purple-color;
    a {
      color: $purple-color;
    }
  }
}

.transparent-bg {
  background: rgba(255, 255, 255, 0.8);
}

.navbar {
  background: rgba(0, 0, 0, 0.3);
  color: $white-color;
  .nav-link {
    color: $white-color !important;
  }
  .navbar-brand {
    color: $white-color;
  }
}

/* REGISTER FORM */
.auth-form {
  background: url(../img/square_register.png);
  background-size: 98% 98%;
  background-position: top left;
  background-repeat: no-repeat;
  .card {
    background: url(../img/register_background.png);
    background-position: 15px 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: $white-color;
    border: 0;
    .card-header {
      background: transparent;
      border-bottom: 0;
      h1 {
        font-weight: 800;
        font-size: 3rem;
        letter-spacing: 2px;
        font-family: $secondary-font;
      }
      h2 {
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 2rem;
        font-family: $secondary-font;
      }
    }
  }

  .invalid-feedback {
    strong {
      text-shadow: 1px 1px 1px #000;
    }
  }
  .btn-link {
    color: $white-color;
  }
  .btn {
    background: rgba(239, 58, 177, 0.7);
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 20px;
    padding-right: 4em;
    font-family: $secondary-font;
    font-weight: 800;
    letter-spacing: 3px;
    &:hover {
      background: rgba(239, 58, 177, 0.9);
    }
  }
}

#register-club {
  //background: url(../img/square_register.png);


  .btn {
    background: rgba(239, 58, 177, 0.7);
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 20px;
    padding-right: 4em;
    font-family: $secondary-font;
    font-weight: 800;
    letter-spacing: 3px;
    &:hover {
      background: rgba(239, 58, 177, 0.9);
    }
  }
}



@media (max-width: 479px) {

  #register-form {
    .btn {
      width: 100%;
      text-align: center;
    }
    h1 {
      font-size: 2rem !important;
    }
    h2 {
      font-size: 1.45rem !important;
    }
  }

}

/* END OF REGISTER FORM */

.pac-container:after {
  display: none !important;
}



#sidebar .list-group-item {
  border-radius: 0;
  background-color: #0c051e;
  color: #ccc;
  transition: 400ms;
  white-space: nowrap;

  &:hover{
    background-color: $pink-color;
  }
}

#sidebar .list-group .list-group-item i{
  padding-right: 5px;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
  background-color: #0c051e;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #0c051e;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
    position: absolute;

    z-index: 1;
    width: 190px;
  }
  #sidebar .list-group > .list-group-item {
    text-align: center;

    padding: .75rem .5rem;
  }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
    display:none;
  }
}

/* change transition animation to width when entire sidebar is toggled */
.card{
  background-color: #0c051e;
  .rotate-square{
    -webkit-box-shadow: 0px 0px 17px 0px rgba(239,58,177,0.6);
    -moz-box-shadow: 0px 0px 17px 0px rgba(239,58,177,0.6);
    box-shadow: 0px 0px 17px 0px rgba(239,58,177,0.6);
    width: 150px;
    height: 150px;
    overflow: hidden;

    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    transform: rotate(45deg);
    background-color: white;

    img{
      left: -32px;
      top:-42px;
      max-width: 214px;
      position: absolute;
      transform: rotate(-45deg);

      object-fit: cover;

    }
  }
  hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

.card-body{
  padding-bottom: 0px !important;
  background-color: #0c051e;
}
.card-header{
  background-color: #0c051e;
}
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;

}
#image-place {
  .image_div{
    position: relative;
    display: inline-flex;
    margin: 10px;
    width: 180px;
    height: 180px;
    background-color: black;

    &:hover .button{
      opacity: 1;
    }

    &:hover img{

      opacity:0.4;
    }


    .button{
      opacity: 0;
      position: absolute;
      width: 180px;

      transition: 400ms;
      top: 30px;
      text-align: center;
      a{
        margin-top: 30px;
        cursor: pointer;
        font-weight: 800;
        border: solid 1px white;;
        padding: 5px;
        transition: 400ms;
        &:hover{
          opacity: 0.5;
        }
      }

      input{
        margin-bottom: 7px;
      }
    }

  }
  img{
    transition: 400ms;
    width: 180px;
    height: 180px;
    object-fit: cover;
    opacity: 1;
  }

}

#club-row{
  h3{
    font-family: $secondary-font;
    font-weight: 900 ;
  }
  padding: 40px 20px 40px 20px;
  overflow: hidden;
  position: relative;

    #club-link{
      transition: 400ms;
      opacity: 0;
      position: absolute;
      border-radius: 0px;
      background-color: transparent;

     left: 42%;

    }



  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  &:hover img{
    opacity: 0.3;
  }
  &:hover #club-link{

    animation-duration: 400ms;
    background-color: transparent;
    animation-timing-function: ease-in;
    opacity: 1;
    border-color: white;
  }

  img{
    opacity: 0.7;
    transition: 400ms;
    bottom: 0px;

    left: 0px;
    position: absolute;
    width: 100%;

  }

}

.hvr-sweep-to-right:hover{
  color: white !important;
  border-color: transparent !important;
}
.hvr-sweep-to-right:before{
  color: white !important;
  background-color: $pink-color !important;
}

.pagination{
  text-align: center;
  align-items: center;
  display: inline-flex;
 width: auto !important;

  .page-link{
    font-size: 18px;
    border: none;
    padding-bottom: 0px;
    color: $pink-color;
    background-color: transparent !important;
  }
}

/* Single Club Site */
#single_club{
  font-family: Muli;
  position: relative;

  .club-border{

    opacity: 0.4;
    left: -15px;
    top: -20px;
    width: 40%;
    height: 480px;
    position: absolute;
    border: $pink-color;
    border-style: solid;
    border-width: 7px;
  }
  #other-image{
    margin-top: 20px;
    img{

      -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
     max-width: 100%;

    }
  }
  #img-gallery{
    &:hover{
      cursor: pointer;
    }
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
    max-width: 100%;
  }
  h2{
    font-size: 60px;
    color: white;
    font-weight: 900;
    font-family: Muli;
  }
  hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  #description{
    padding: 20px;
    line-height: 35px;
    color: white;
  }
  .description-footer{
    padding: 20px;
    a{
      display: block;
      text-decoration: none;
      margin-top: 5px;
    }
  }
  h3{
    font-family: Muli;
    font-weight: 900;
    color: white;
    font-size: 40px;
  }
  #club-rules{
    position: relative;
    padding: 0px;
    height: 220px;
    align-items: center;
    background-color: black;
    margin-left: 20px;

    margin-right: 20px;
    img{
      transition: ease-in 200ms;
      max-width: 100%;

    }
    &:hover .rules-addnotations{

      opacity: 1;
      cursor: pointer;
    }
    &:hover img{
      opacity: 0.2;
    }

    .rules-addnotations{
      padding: 5px;
      transition: ease-in 200ms;
      width: 100% !important;
      opacity: 0;
      height: 100%;

      position: absolute;
      display: table;
      p{
        text-align: center;
        margin-top: auto;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 20px;
        font-weight: 700;
      }
    }

  }
}

.modal-dialog{
  img{
    max-width: 100%;
  }
  overflow: hidden;
  max-width: 70%;
  max-height: 700px;
  padding-left: 50px;

  .modal-content{
    border: none;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 4px rgba(255,8,255,0.59);
    -moz-box-shadow: 0px 0px 25px 4px rgba(255,8,255,0.59);
    box-shadow: 0px 0px 25px 4px rgba(255,8,255,0.59);
  }


  .modal-footer{
    justify-content: center;
    border: none;
  }



}
/* End Single Club Site */

#modal-button{
  background-color: $pink-color;
  position: absolute;
  top:10px;
  left: 50%;
  border-radius: 200px;
    &:hover {
      background-color: black;
    }
  }

