/* Variables */
/* Colors */
/* Fonts */
a {
  cursor: pointer;
  text-decoration: none !important;
  color: #ef3ab1; }

body {
  font-family: Muli;
  margin: 0px !important;
  background: purple;
  background-image: url(../img/bg.jpg);
  background-position: top center;
  background-color: white; }
  body .no-padding {
    padding: 0px; }
  body input, body select, body textarea {
    background-color: rgba(255, 255, 255, 0.85) !important;
    border-radius: 0 !important;
    border: 0px solid #FFF !important; }
  body .user-left-menu .list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 1px solid #333;
    border-radius: 0 !important; }
    body .user-left-menu .list-group-flush:last-child .list-group-item:last-child i {
      padding-right: 5px; }

main {
  overflow-y: hidden;
  margin-top: 6em; }

.content {
  padding: 20px; }
  .content h1 {
    color: #041962; }
    .content h1 a {
      color: #041962; }

.transparent-bg {
  background: rgba(255, 255, 255, 0.8); }

.navbar {
  padding: 0px;
  transition: all 400ms !important;
  font-family: Muli;
  font-weight: 900;
  background: transparent;
  color: #FFF; }
  .navbar .nav-link {
    color: #FFF !important;
    transition: all 200ms !important; }
    .navbar .nav-link:hover {
      opacity: 0.7; }
  .navbar .navbar-brand {
    color: #FFF; }
    .navbar .navbar-brand .navbar-img {
      max-width: 80px; }
  .navbar .nav-link {
    margin-left: 20px; }

/* SLIDER */
.myBtn {
  padding: 7px 60px 7px 15px;
  background-color: #041962;
  color: #ef3ab1;
  font-weight: 900;
  text-decoration: none !important; }

.carousel-control-prev, .carousel-control-next {
  top: -100px !important;
  width: 11%; }

.carousel-control {
  font-size: 34px; }

.carousel .carousel-inner {
  height: 700px; }
.carousel .carousel-item {
  font-family: Muli; }
  .carousel .carousel-item img {
    max-width: 100%; }
  .carousel .carousel-item .carousel-content-left {
    position: absolute;
    top: 35%;
    left: 11%;
    color: black; }
    .carousel .carousel-item .carousel-content-left h3 {
      font-size: 35px;
      margin-left: 40px; }
    .carousel .carousel-item .carousel-content-left h2 {
      margin-left: -3px;
      letter-spacing: -2px;
      font-size: 80px;
      font-weight: 900; }
    .carousel .carousel-item .carousel-content-left a {
      font-size: 30px; }
  .carousel .carousel-item .carousel-content-right {
    position: absolute;
    top: 35%;
    right: 11%;
    color: black;
    width: 30%; }
    .carousel .carousel-item .carousel-content-right h3 {
      font-size: 35px;
      margin-left: 40px; }
    .carousel .carousel-item .carousel-content-right h2 {
      margin-left: -3px;
      letter-spacing: -2px;
      font-size: 80px;
      font-weight: 900; }
    .carousel .carousel-item .carousel-content-right a {
      font-size: 30px; }

/* END SLIDER */
#clubs-container {
  position: relative; }
  #clubs-container h3 {
    font-weight: 900;
    color: white;
    font-size: 45px; }
  #clubs-container .card-slider {
    overflow: hidden;
    height: 400px;
    position: relative;
    margin-top: 60px; }
    #clubs-container .card-slider .club-border {
      position: absolute;
      margin: -10px 0px 0px -10px;
      width: 100%;
      z-index: 1; }
    #clubs-container .card-slider .card-slide {
      transition: all 300ms;
      z-index: 100;
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 350px;
      height: 350px; }
      #clubs-container .card-slider .card-slide a {
        font-size: 14px !important;
        color: white;
        cursor: pointer; }
      #clubs-container .card-slider .card-slide:hover .slide-content {
        background-color: rgba(0, 0, 0, 0.4); }
      #clubs-container .card-slider .card-slide .slide-content {
        overflow: hidden;
        transition: all 0.2s ease;
        width: 100%;
        height: 100%;
        padding: 10px 30px 10px 30px;
        background-color: rgba(0, 0, 0, 0.6); }
      #clubs-container .card-slider .card-slide h3 {
        color: white;
        font-size: 23px !important; }
    #clubs-container .card-slider .club-prev {
      left: 0px;
      z-index: 500; }
    #clubs-container .card-slider .club-next {
      left: 790px;
      z-index: 500; }
    #clubs-container .card-slider .club-center {
      left: 395px;
      z-index: 1000; }
    #clubs-container .card-slider .club-prev-disable {
      z-index: 1;
      left: -105%;
      visibility: hidden; }
    #clubs-container .card-slider .club-next-disable {
      z-index: 1;
      left: 105%;
      visibility: hidden; }
    #clubs-container .card-slider .club-disable {
      z-index: 1;
      visibility: hidden; }
  #clubs-container .nav-button {
    width: 110%;
    top: 50%;
    left: -5%;
    position: absolute;
    text-align: left; }
    #clubs-container .nav-button .prev-button {
      transition: all 200ms;
      color: white;
      font-size: 30px;
      text-align: left;
      float: left; }
      #clubs-container .nav-button .prev-button:hover {
        transform: scale(1.2);
        opacity: 0.7; }
    #clubs-container .nav-button .next-button {
      float: right;
      transition: all 200ms;
      color: white;
      font-size: 30px;
      text-align: right; }
      #clubs-container .nav-button .next-button:hover {
        transform: scale(1.2);
        opacity: 0.7; }

#events {
  width: 130%;
  padding: 0px !important; }
  #events .event-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black; }
    #events .event-image img {
      object-fit: cover;
      opacity: 0.4;
      width: 100%; }
  #events h3 {
    font-weight: 900;
    color: white;
    font-size: 45px; }
  #events .event {
    position: relative;
    padding: 0px 40px 0px 40px; }
    #events .event img {
      left: 5%;
      top: 0%;
      position: absolute;
      max-width: 45%; }
    #events .event a {
      background-color: rgba(4, 25, 98, 0.6); }
    #events .event h1 {
      color: white;
      bottom: 0px;
      font-size: 70px;
      font-family: Arial;
      font-weight: 900; }
    #events .event #event-name {
      margin-top: 15%;
      font-size: 30px;
      color: white;
      font-weight: 900;
      margin-bottom: 0px !important; }
    #events .event #event-date {
      font-weight: 900;
      color: #ef3ab1;
      font-size: 20px;
      margin-bottom: 0px !important; }
    #events .event #event-article {
      margin-top: 10px; }
      #events .event #event-article article {
        text-align: justify;
        color: white;
        font-size: 16px;
        font-family: Muli; }
  #events #event-left {
    margin-left: 0px; }
  #events #event-right {
    margin-right: 0px; }

/*
/* REGISTER FORM */
.auth-form {
  background: url(../img/square_register.png);
  background-size: 98% 98%;
  background-position: top left;
  background-repeat: no-repeat; }
  .auth-form .card {
    background: url(../img/register_background.png);
    background-position: 15px 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #FFF;
    border: 0; }
    .auth-form .card .card-header {
      background: transparent;
      border-bottom: 0; }
      .auth-form .card .card-header h1 {
        font-weight: 800;
        font-size: 3rem;
        letter-spacing: 2px;
        font-family: "Muli", sans-serif; }
      .auth-form .card .card-header h2 {
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 2rem;
        font-family: "Muli", sans-serif; }
  .auth-form .invalid-feedback {
    display: block !important; }
    .auth-form .invalid-feedback strong {
      text-shadow: 1px 1px 1px #000; }
  .auth-form .btn-link {
    color: #FFF; }
  .auth-form .btn {
    background: rgba(239, 58, 177, 0.7);
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 20px;
    padding-right: 4em;
    font-family: "Muli", sans-serif;
    font-weight: 800;
    letter-spacing: 3px; }
    .auth-form .btn:hover {
      background: rgba(239, 58, 177, 0.9); }

#register-club .btn {
  background: rgba(239, 58, 177, 0.7);
  border: 0;
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 20px;
  padding-right: 4em;
  font-family: "Muli", sans-serif;
  font-weight: 800;
  letter-spacing: 3px; }
  #register-club .btn:hover {
    background: rgba(239, 58, 177, 0.9); }

@media (max-width: 479px) {
  #register-form .btn {
    width: 100%;
    text-align: center; }
  #register-form h1 {
    font-size: 2rem !important; }
  #register-form h2 {
    font-size: 1.45rem !important; } }
/* END OF REGISTER FORM */
.pac-container:after {
  display: none !important; }

#sidebar .list-group-item {
  border-radius: 0;
  background-color: #0c051e;
  color: #ccc;
  transition: 400ms;
  white-space: nowrap; }
  #sidebar .list-group-item:hover {
    background-color: #ef3ab1; }

#sidebar .list-group .list-group-item i {
  padding-right: 5px; }

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
  background-color: #0c051e; }

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px; }

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #0c051e; }

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px; }

/* level 1*/
#sidebar .list-group .collapse .list-group-item {
  padding-left: 20px; }

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px; }

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px; }

@media (max-width: 48em) {
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
    position: absolute;
    z-index: 1;
    width: 190px; }

  #sidebar .list-group > .list-group-item {
    text-align: center;
    padding: .75rem .5rem; }

  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
    display: none; } }
/* change transition animation to width when entire sidebar is toggled */
.card {
  background-color: #0c051e; }
  .card .rotate-square {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(239, 58, 177, 0.6);
    -moz-box-shadow: 0px 0px 17px 0px rgba(239, 58, 177, 0.6);
    box-shadow: 0px 0px 17px 0px rgba(239, 58, 177, 0.6);
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    transform: rotate(45deg);
    background-color: white; }
    .card .rotate-square img {
      left: -32px;
      top: -42px;
      max-width: 214px;
      position: absolute;
      transform: rotate(-45deg);
      object-fit: cover; }
  .card hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.card-body {
  padding-bottom: 0px !important;
  background-color: #0c051e; }

.card-header {
  background-color: #0c051e; }

#sidebar.collapse {
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s; }

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width; }

#image-place .image_div {
  position: relative;
  display: inline-flex;
  margin: 10px;
  width: 180px;
  height: 180px;
  background-color: black; }
  #image-place .image_div:hover .button {
    opacity: 1; }
  #image-place .image_div:hover img {
    opacity: 0.4; }
  #image-place .image_div .button {
    opacity: 0;
    position: absolute;
    width: 180px;
    transition: 400ms;
    top: 30px;
    text-align: center; }
    #image-place .image_div .button a {
      margin-top: 30px;
      cursor: pointer;
      font-weight: 800;
      border: solid 1px white;
      padding: 5px;
      transition: 400ms; }
      #image-place .image_div .button a:hover {
        opacity: 0.5; }
    #image-place .image_div .button input {
      margin-bottom: 7px; }
#image-place img {
  transition: 400ms;
  width: 180px;
  height: 180px;
  object-fit: cover;
  opacity: 1; }

#club-row {
  padding: 40px 20px 40px 20px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  #club-row h3 {
    font-family: "Muli", sans-serif;
    font-weight: 900; }
  #club-row #club-link {
    transition: 400ms;
    opacity: 0;
    position: absolute;
    border-radius: 0px;
    background-color: transparent;
    left: 42%; }
  #club-row:hover img {
    opacity: 0.3; }
  #club-row:hover #club-link {
    animation-duration: 400ms;
    background-color: transparent;
    animation-timing-function: ease-in;
    opacity: 1;
    border-color: white; }
  #club-row img {
    opacity: 0.7;
    transition: 400ms;
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100%; }

.hvr-sweep-to-right:hover {
  color: white !important;
  border-color: transparent !important; }

.hvr-sweep-to-right:before {
  color: white !important;
  background-color: #ef3ab1 !important; }

.pagination {
  text-align: center;
  align-items: center;
  display: inline-flex;
  width: auto !important; }
  .pagination .page-link {
    font-size: 18px;
    border: none;
    padding-bottom: 0px;
    color: #ef3ab1;
    background-color: transparent !important; }

/* Single Club Site */
#single_club {
  font-family: Muli;
  position: relative; }
  #single_club .club-border {
    opacity: 0.4;
    left: -15px;
    top: -20px;
    width: 40%;
    height: 480px;
    position: absolute;
    border: #ef3ab1;
    border-style: solid;
    border-width: 7px; }
  #single_club #other-image {
    margin-top: 20px; }
    #single_club #other-image img {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
      max-width: 100%; }
  #single_club #img-gallery {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
    max-width: 100%; }
    #single_club #img-gallery:hover {
      cursor: pointer; }
  #single_club h2 {
    font-size: 60px;
    color: white;
    font-weight: 900;
    font-family: Muli; }
  #single_club hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }
  #single_club #description {
    padding: 20px;
    line-height: 35px;
    color: white; }
  #single_club .description-footer {
    padding: 20px; }
    #single_club .description-footer a {
      display: block;
      text-decoration: none;
      margin-top: 5px; }
  #single_club h3 {
    font-family: Muli;
    font-weight: 900;
    color: white;
    font-size: 40px; }
  #single_club #club-rules {
    position: relative;
    padding: 0px;
    height: 220px;
    align-items: center;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px; }
    #single_club #club-rules img {
      transition: ease-in 200ms;
      max-width: 100%; }
    #single_club #club-rules:hover .rules-addnotations {
      opacity: 1;
      cursor: pointer; }
    #single_club #club-rules:hover img {
      opacity: 0.2; }
    #single_club #club-rules .rules-addnotations {
      padding: 5px;
      transition: ease-in 200ms;
      width: 100% !important;
      opacity: 0;
      height: 100%;
      position: absolute;
      display: table; }
      #single_club #club-rules .rules-addnotations p {
        text-align: center;
        margin-top: auto;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 20px;
        font-weight: 700; }

.modal-dialog {
  overflow: hidden;
  max-width: 70%;
  max-height: 700px;
  padding-left: 50px; }
  .modal-dialog img {
    max-width: 100%; }
  .modal-dialog .modal-content {
    border: none;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59);
    -moz-box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59);
    box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59); }
  .modal-dialog .modal-footer {
    justify-content: center;
    border: none; }

/* End Single Club Site */
#modal-button {
  background-color: #ef3ab1;
  position: absolute;
  top: 10px;
  left: 50%;
  border-radius: 200px; }
  #modal-button:hover {
    background-color: black; }

.club-slide {
  position: relative;
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #ef3ab1;
  max-width: 100%;
  -webkit-box-shadow: 0px -2px 20px 1px rgba(204, 16, 204, 0.86);
  -moz-box-shadow: 0px -2px 20px 1px rgba(204, 16, 204, 0.86);
  box-shadow: 0px -2px 20px 1px rgba(204, 16, 204, 0.86);
  text-align: center; }
  .club-slide:hover img {
    opacity: 1; }
  .club-slide .club-slide-content {
    overflow: hidden;
    font-family: Muli;
    padding-top: 30px;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center; }
    .club-slide .club-slide-content:hover {
      cursor: pointer; }
    .club-slide .club-slide-content:hover h2 {
      transform: translateY(0px);
      transition-timing-function: ease-out; }
    .club-slide .club-slide-content:hover .distance-box {
      transform: translateY(0px);
      transition-timing-function: ease-out; }
    .club-slide .club-slide-content:hover .club-slide-footer {
      transform: translateY(0px);
      transition-timing-function: ease-out; }
    .club-slide .club-slide-content h2 {
      white-space: pre-wrap;
      transition-duration: 300ms;
      transform: translatey(-130px);
      color: white;
      font-weight: 900;
      font-size: 30px;
      text-shadow: 0px 0px 7px black; }
      .club-slide .club-slide-content h2:hover {
        color: #ef3ab1; }
    .club-slide .club-slide-content .distance-box {
      transition-duration: 300ms;
      transform: translateY(300px);
      max-width: 70%;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.6);
      margin: auto;
      border: solid 1px rgba(255, 255, 255, 0.4); }
      .club-slide .club-slide-content .distance-box p {
        color: white;
        text-align: center;
        font-weight: 800;
        font-size: 20px; }
    .club-slide .club-slide-content .club-slide-footer {
      padding: 10px;
      width: 100%;
      background-color: rgba(239, 58, 177, 0.8);
      position: absolute;
      bottom: 0px;
      transform: translateY(100px);
      transition-duration: 300ms;
      transition-delay: 300ms; }
      .club-slide .club-slide-content .club-slide-footer p {
        font-family: Muli;
        font-size: 14px !important;
        color: white;
        font-weight: 100;
        margin: 0px; }
      .club-slide .club-slide-content .club-slide-footer a {
        text-decoration: none;
        animation: none !important;
        transition-duration: 300ms !important; }
        .club-slide .club-slide-content .club-slide-footer a:hover {
          border: none;
          background-color: #041962;
          transform: scale(1.1) translateX(10px); }
  .club-slide img {
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: cover;
    transition-duration: 400ms; }
  .club-slide #box-shadow {
    object-fit: none;
    width: 130%;
    height: auto;
    position: absolute;
    top: 92%;
    left: -11%; }

#club-slide-center {
  transform: scale(1.15);
  z-index: 99;
  transition: all .4s; }

#club-slide-left {
  opacity: 0.9;
  z-index: 1;
  box-shadow: none;
  transform: translateX(-380px) perspective(500px) rotateY(-15deg) scale(0.9);
  transition: all .4s; }

#club-slide-right {
  opacity: 0.9;
  z-index: 1;
  box-shadow: none;
  transform: translateX(380px) perspective(500px) rotateY(15deg) scale(0.9);
  transition: all .4s; }

.navigator {
  border-radius: 200px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 400ms;
  color: white !important; }
  .navigator:hover {
    cursor: pointer;
    color: #ef3ab1 !important; }

#left {
  left: 20px; }

#right {
  right: 20px; }

@-webkit-keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
#search-bar {
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.49); }
  #search-bar .input-group-text {
    border-radius: 0px !important;
    padding: 0px; }
    #search-bar .input-group-text:hover {
      opacity: 0.7 !important; }
    #search-bar .input-group-text button {
      width: 100%;
      height: 100%;
      border: none;
      padding: 0px;
      margin: 0px;
      background-color: transparent; }
      #search-bar .input-group-text button:hover {
        cursor: pointer; }
    #search-bar .input-group-text span {
      font-size: 30px;
      color: white !important;
      background-color: transparent;
      border: none;
      padding: 0px;
      margin: 0px; }
  #search-bar input {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: black;
    font-weight: normal;
    font-size: 18px; }
    #search-bar input:focus {
      border: none !important;
      box-shadow: none !important; }

#footer {
  margin-top: 80px;
  max-width: 100%;
  padding: 20px;
  padding-top: 50px !important; }
  #footer .link {
    font-weight: 900; }
    #footer .link a {
      padding: 7px 10px 7px 10px;
      background-color: #ef3ab1;
      color: white; }
    #footer .link #footer-link {
      display: block;
      transition: 200ms;
      padding: 0px !important;
      background-color: transparent !important; }
      #footer .link #footer-link:hover {
        opacity: 0.7;
        transform: translateX(3px); }

.carousel-events {
  width: 120% !important;
  height: 470px; }
  .carousel-events #event-carousel-item {
    display: flex !important;
    height: 330px; }

.ui-menu {
  border: none !important; }

.ui-menu-item {
  border: none !important;
  transition: all 200ms !important;
  padding: 5px 12px;
  background-color: #ef3ab1 !important;
  color: white; }
  .ui-menu-item:hover {
    background-color: #041962 !important; }

.ui-menu-item-wrapper {
  transition: all 200ms !important;
  background-color: #ef3ab1 !important;
  color: white; }
  .ui-menu-item-wrapper:hover {
    border: none !important; }

.dropdown-menu .dropdown-item {
  transition: 200ms;
  color: white;
  font-weight: 900; }
  .dropdown-menu .dropdown-item:hover {
    background-color: #041962; }

#shadow-inside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 21px 0px rgba(239, 58, 177, 0.84);
  -moz-box-shadow: inset 0px 0px 21px 0px rgba(239, 58, 177, 0.84);
  box-shadow: inset 0px 0px 21px 0px rgba(239, 58, 177, 0.84); }

#shadow-outside {
  border: 2px solid #ef3ab1; }

#output {
  max-height: 150px !important; }

@media (max-width: 1360px) {
  .carousel .carousel-inner {
    height: 600px; } }
@media (max-width: 1024px) {
  .carousel .carousel-inner {
    height: 50px; } }
@media (max-width: 768px) {
  .carousel .carousel-inner {
    height: 400px; } }

/*# sourceMappingURL=portal.css.map */
