/* Colors */
#slider-main .fa-caret-left:before {
  font-size: 2em !important; }
#slider-main .fa-caret-right:before {
  font-size: 2em !important; }
#slider-main .myBtn {
  padding: 7px 60px 7px 15px;
  background-color: #041962;
  color: #ef3ab1;
  font-weight: 900;
  text-decoration: none !important; }
#slider-main .carousel .carousel-inner {
  height: 100vh; }
  #slider-main .carousel .carousel-inner .carousel-control {
    font-size: 34px; }
  #slider-main .carousel .carousel-inner .carousel-control-prev, #slider-main .carousel .carousel-inner .carousel-control-next {
    top: -100px !important;
    width: 11%; }
  #slider-main .carousel .carousel-inner .carousel-item {
    font-family: Muli, serif; }
    #slider-main .carousel .carousel-inner .carousel-item a {
      font-size: 30px; }
    #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left {
      position: absolute;
      top: 35%;
      left: 11%;
      color: black; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left h3 {
        font-size: 35px;
        margin-left: 0px; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left h2 {
        margin-left: -3px;
        letter-spacing: -2px;
        font-size: 80px;
        font-weight: 900; }
    #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right {
      position: absolute;
      top: 35%;
      right: 11%;
      color: black;
      width: 30%; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right h3 {
        font-size: 35px;
        margin-left: 0px; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right h2 {
        margin-left: -3px;
        letter-spacing: -2px;
        font-size: 80px;
        font-weight: 900; }

@media (max-width: 767.98px) {
  #slider-main {
    margin-top: 5.5em; }
    #slider-main .carousel-control-prev, #slider-main .carousel-control-next {
      display: none; }
    #slider-main .myBtn {
      padding: 7px 30px 7px 15px;
      background-color: #041962;
      color: #ef3ab1;
      font-weight: 700;
      text-decoration: none !important;
      font-size: 24px;
      margin-top: 10px; }
    #slider-main .carousel .carousel-control {
      font-size: 35px; }
    #slider-main .carousel .carousel-inner {
      height: 55vh; }
      #slider-main .carousel .carousel-inner .carousel-item #search-bar {
        height: 45px !important;
        background: rgba(255, 255, 255, 0.65); }
        #slider-main .carousel .carousel-inner .carousel-item #search-bar .fa {
          font-size: 24px; }
        #slider-main .carousel .carousel-inner .carousel-item #search-bar input::placeholder {
          color: #333; }
      #slider-main .carousel .carousel-inner .carousel-item a {
        font-size: 16px; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left {
        position: absolute;
        top: 25%;
        left: 11%;
        color: black; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left h3 {
          font-size: 50px;
          margin-left: 0px;
          color: #FFF;
          text-shadow: 1px 1px 1px #000;
          display: none; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left h2 {
          margin-left: -3px;
          letter-spacing: -2px;
          font-size: 50px;
          font-weight: 900;
          color: #FFF; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right {
        position: absolute;
        top: 15%;
        right: 11%;
        color: black;
        width: 30%; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right h3 {
          font-size: 30px;
          margin-left: 0px; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right h2 {
          margin-left: -3px;
          letter-spacing: -2px;
          font-size: 40px;
          font-weight: 900; } }
@media (max-width: 575.98px) {
  #slider-main {
    margin-top: 6.5em; }
    #slider-main .carousel-control-prev, #slider-main .carousel-control-next {
      display: none; }
    #slider-main .myBtn {
      padding: 7px 30px 7px 15px;
      display: none;
      background-color: #041962;
      color: #ef3ab1;
      font-weight: 700;
      text-decoration: none !important;
      font-size: 20px; }
    #slider-main .carousel .carousel-control {
      font-size: 35px; }
    #slider-main .carousel .carousel-inner {
      height: 35vh; }
      #slider-main .carousel .carousel-inner .carousel-item #search-bar {
        height: 45px !important;
        background: rgba(255, 255, 255, 0.65); }
        #slider-main .carousel .carousel-inner .carousel-item #search-bar .fa {
          font-size: 24px; }
        #slider-main .carousel .carousel-inner .carousel-item #search-bar input::placeholder {
          color: #333; }
      #slider-main .carousel .carousel-inner .carousel-item a {
        font-size: 20px; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left {
        position: absolute;
        top: 25%;
        left: 11%;
        color: black; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left h3 {
          font-size: 30px;
          margin-left: 0px;
          color: #FFF;
          text-shadow: 1px 1px 1px #000;
          display: none; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-left h2 {
          margin-left: -3px;
          letter-spacing: -2px;
          font-size: 40px;
          font-weight: 900;
          color: #FFF; }
      #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right {
        position: absolute;
        top: 15%;
        right: 11%;
        color: black;
        width: 30%; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right h3 {
          font-size: 30px;
          margin-left: 0px; }
        #slider-main .carousel .carousel-inner .carousel-item .carousel-content-right h2 {
          margin-left: -3px;
          letter-spacing: -2px;
          font-size: 30px;
          font-weight: 900; } }
@media (max-width: 398.98px) {
  #home-page .second-heading {
    font-size: 2rem; }

  #slider-main {
    height: 28vh; }
    #slider-main .carousel #search-bar {
      margin-top: 3.5em !important; }
      #slider-main .carousel #search-bar input {
        font-size: 15px !important; }
    #slider-main .carousel h3 {
      display: none; }
    #slider-main .carousel h2 {
      display: none; } }

/*# sourceMappingURL=slider.css.map */
